// переменные для основного контейнера 

$primaryWidth: 1200px;
$headerContainerWidth: 1200px;
$mainBackground: #F5F5F5;

$primaryImageWidth: 219px;
$primatyImageHeight: 32px;

$circleButtonWidth: 40px;
$circleButtonHeight: 40px;
$circleButtonBorderRadius: 50%;

$primaryButtonBackground: #EE26C2;
$primaryButtonLogoWidth: 24px;
$primaryButtonLogoHeight: 24px;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;

$fontSizeSmall: 15px;
$fontSizeNormal: 16px;
$fontSazeMedium: 18px;

$primaryColor: #000;

$background-theme-light: #ffffff;